*{ padding: 0; margin: 0; border: none; overflow: hidden; }
ul{ list-style: none; }
html{ width: 100%; height: 100%; font-family: Arial, \5fae\8f6f\96c5\9ed1/*微软雅黑*/, \5b8b\4f53/*宋体*/, sans-serif; }

/*loading页*/
.loadingBg{ display: none; background: white; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.loadingBox{ width: 60%; height: 30%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; text-align: center; }
.birdFly{ position:absolute; top: 26px; left: 50%; margin-left: -26px; width: 52px; }
.progressBarBox{ background: #faf0ea; width: 100%; height: 6px; margin-top: 150px; }
.progressBar{ width: 0; height: inherit; background: #a4795d; }
.loadingText{ margin-top: 20px; font-size: 20px; color: #a4795d; }

/*菜单通用*/
.menuBox ul li{ margin: 12px auto; }
.menuBox .cuttingLine{ width: 174px; height: 2px; margin: 20px auto; }
.menuBg{ display: none; position: absolute; top: 0; width: 100%; height: 100%; }
.menuBox{ width: 260px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; text-align: center; padding: 20px; box-sizing: border-box; }
.mainButton{ width: 144px; height: 52px; }
.levelButton{ width: 144px; height: 46px; }

/*主菜单*/
.mainMenuBg{ background-size: cover; }
.mainMenuBox{ height: 336px; }
.mainMenuBox .levelLabel{ width: 174px; height: 15px; margin: auto; margin-top: 6px; }

/*结束菜单*/
.deathMenuBox{ display: none; height: 374px; }
.deathMenuBox .scoresLabel{ width: 174px; height: 15px; margin: auto; margin-top: 12px; }
.deathMenuBox .finalScoreBox{ margin: auto; margin-top: 12px; text-align: center; }

/*得分面板*/
.scoreBoard{ display: none; background: rgba(0, 0, 0, 0.6); position: fixed; right: 10px; bottom: 6px; color: white; font-size: 12px; padding: 4px 14px; box-sizing: border-box; border-radius: 4px; }
.scoreTitle{ float: left; margin: 6px 7px 0 0; letter-spacing: 1px; }
.scores{ float: right; font-size: 22px; letter-spacing: 1px; }

/*设置*/
.setting{ width: 52px; height: 52px; position: fixed; right: 14px; top: 14px; }

/*设置菜单*/
.settingMenuBox{ display: none; height: 308px; }
.audioBox{ text-align: center; margin-top: 20px; }
.audioBox .audioSwitch{ display: inline-block; width: 72px; height: 72px; margin: 0 8px; }
