@font-face {
    font-family: zchappy;
    src: url('../assets/font/站酷快乐体2016修订版.ttf'),
    url('../assets/font/站酷快乐体2016修订版.ttf'); /* IE9 */
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

#canvas {
    display: block;
    background-color: black;
}

#mainMenuPage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#gameTitle{
    display: block;
    width: 80%;
    margin: 15% auto;
}

.hide {
    display: none;
}

#mainMenuPage #allButtons {
    position: absolute;
    bottom: 12%;
    left: 50%;
    width: 40%;
}

#mainMenuPage .menuButton {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.btn-down {
    transform: translateY(6px);
}

#youWhat {
    display: block;
    width: 50%;
    margin: 30% auto;
}

#gameOverMenu {
    margin: 0 auto;
    border: #ffa77c 3px solid;
    background-color: #fffdcc;
    box-sizing: border-box;
    width: 50%;
}

#gameOverMenu #allButtons_end {
    width: 70%;
    margin: 30px auto;
}

#gameOverMenu #allButtons_end .endButton {
    display: block;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
}

#mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}